.body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    min-height: 500px;
    grid-column-gap: 15px;
}

.hide {
    display: none;
}

.react-datepicker-popper {
    transform: none !important;
    right: 10px !important;
    top: 10px !important;
    left: unset !important;
}

.set_up_data {
    display: grid;
    padding: 12px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.react-datepicker__triangle {
    display: none!important;
}

.form {
    display: grid;
}

.table {
    display: grid;
    width: 90%;
    height: 210px;
    overflow: auto;
    justify-self: center;
}

.time_table {
    display: grid;
    grid-template-columns: 60px auto;
}

.user_name {
    display: grid;
    place-content: center;
}

.submit_btn {
    place-self: center;
}

.last_name_input,
.first_name-Input,
.year_of_birth_input,
.table,
.submit_btn {
    margin: 5px 0;
}

.time:hover {
    background: lime;
    font-size: 20px;
}

.time:focus {
    background: limegreen;
}

.time {
    cursor: pointer;
}

.doc_name {
    cursor: pointer;
}

.doc_name:hover {
    background: deepskyblue;
    font-size: 20px;
}

@media screen and (max-width: 860px){

    .body {
        display: grid;
        grid-template-columns: auto auto;
        min-height: fit-content;
        grid-row-gap: 15px;
    }

    .set_up_data {
        display: grid;
        grid-column: 1 / span 2;
        place-self: center;
        box-shadow: 4px 4px 2px 0 rgba(50, 50, 50, 0.75);
    }

}

@media screen and (max-width: 660px){

    .body {
        display: grid;
        grid-template-columns: auto;
        min-height: fit-content;
    }

    .set_up_data {
        display: grid;
        grid-column: 1 / 2;
        place-self: normal;
    }

}