.footer {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50px;
    grid-column-gap: 15px;
}

@media screen and (max-width: 660px){

    .footer {
        display: grid;
        grid-template-columns: auto;
        min-height: 50px;
        grid-row-gap: 15px;
    }
}